@media screen and (max-width:900px) {
    body{
        overflow-x : hidden;
    }
    section{
        display: grid;
        grid-template-columns: 1fr;
    }
    br{
        display: none;
    }
        .social-network{
        margin:auto; 
    }
    .social-network div{
        display: block;
    }
    .logo-linkdin{
        display: block;
    }
    .logo-instagramme{
        display: none;
    }
    .text-copyright{
        display: none;
    }
    .logo-footer{
        display: none;
    }
    .social-network ul{
        margin-bottom: 0;
    }
    footer{
        display: grid;
    }
    
    .last-section{
        display: grid;
    }

    .last-section-text{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .last-section h5{
    padding-bottom: 5vh;
    }

    .s-img1{
        display: none;
    }

    .s-img2{
        display: block;
    }
    .line{
        height: 0;
        border: 2px solid gray;
        width: 100%;
        margin-bottom: 7vh;
    }
    .photo-food{
        height: 80vh;
        width: 100%;
        background: initial;
        display: flex;
        flex-direction: column;
    }
    .photo-food::before{  
        display: none;
    }
    .btn{
        margin: 10%;
        z-index: 2;
        display: grid;
        margin-top: 10vh;
    }
    .btn a{
        color: #f94a0c;
        z-index: 1;
        height: 7vh;
        width: 20vh;
        border-radius: 25px;
        background: transparent;
        padding: 1vh;
        border: 1px solid #f94a0c; padding: 1vh;

    }
    .btn a:hover{
        background-color: #f94a0c;
        color: #fff;
    }
    
    .btn a span{
    font-size: 30px;
    }

    .text-container h3{
        color: gray;
        font-size: 2rem;
    }
    .text-container-h1{
        color: black;
        font-size: 4rem;
    }
    .text-container-h5{
        font-size: 2rem;
    }
    .photo-phone{
        margin-top: -20vh;
    }   
    .menu nav ul{
        grid-template-columns:none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /* background: #f94a0c; */ /* right color */
        padding-top: 10%;
        grid-template-rows: 1fr;
        margin-left: 0;
        padding-top:0;
        right: -100px;
    }
    nav ul li{
        /* box-shadow: 0 0 1px #f94a0c; */
    }

    .menu-contain{
        grid-template-columns:none;        
    }
    .burger{
        display: block;
    }
    .menu{
      background: transparent;
    }
    nav ul li a{
        opacity: 0.2;
    }
    nav input:checked ~ .menu{
        background: rgba(167, 167, 167,0.2);
    }

    nav input:checked ~ nav ul li{
        box-shadow: 0 0 1px #f94a0c;
    }
    nav input:checked ~ nav ul li a{
        opacity: 1;
    }
    
}